*{
    font-family: 'Bungee', cursive;
}
* a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0 20px 0 20px;
}
h3{
    text-align: center;
}
html{

    background-color: #f5f5f5;
}
h1{
    text-align: center;
    color: crimson;
}
.nav{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.navb{
    display: none;
    padding: 0px;
    flex-direction: column;
}
.nav li{
    background-color: rgb(174, 255, 174);
    width: 100%;
    margin: 10px 0px 10px 0px;
    list-style: none;
    text-align: center;
}
.nav :hover{
    background-color: rgb(72, 122, 72);
}
.intro{
    text-align: center;
}
.intro img{
    width:100%;
}
.portfolio{
    text-align: center;
}
.sites{
    background-color: white;
    text-align: center;
    list-style: none;
    padding: 0;
    clear: both;
}
.sites img{
    width: 100%;
}
.sites li p{
    height: 130px;
}
.skills{
    padding: 0px;
    text-align: center;
    display: inline-block;
}
.skills ul{
    border-width: 3px;
    border-color: darkred;
    margin:0;
}
.skills li{
    text-align: center;
    width: 100%;
    list-style: none;
    margin-bottom: 20px
}
.footer h4{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer strong{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.end{
    display: flex;
    justify-content: space-between;
}
.end p{
  margin: 0;

}
@media (min-width:768px){
    .nav {
        flex-direction: row;
        margin: 0% 30% 5% 30%;
    }
    .intro{
        display: flex;
        flex-direction: row-reverse;
    }
    .intro img{
        width: 500px;
        margin-left: 5px;
    }
    .sites{
        width: 100%;
        margin-left: 3%;
        padding: 0;
        
    }
    .sites li{
        width: 45%;
        margin: 5px;
        float: left;
    }
    .sites li h2{
        margin: 0;
    }
    .sites li p{
        margin: 0;
    }
    .skills{
        text-align: center;
    }
    #skills{
        margin-top: 10px;
        
    }
    .footer p{
        margin: 0% 10% 2% 10%;
    }
    .navb{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .navb li{
        width: 100%;
        margin: 0px 10px 0px 10px;
        list-style: none;
        text-align: right;
    }
    .gtt{
        display: none;
    }
}
@media (min-width:1024px){
    h1{
        font-size: 25px;
        text-align: left;
        margin-top: 0;
    }
    .nav{
        flex-direction: row;
        float: right;
    }
    .nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .top{
        display: flex;
        justify-content: space-between;
    }
    .sites li{
        width: 30%;
    }
}
@media (min-width: 1450px){
    .skills{
        margin-left: 15%;
        margin-right: 15%;
    }
}