*{
    font-family: 'Bungee', cursive;
}
* a{
    text-decoration: none;
    color: black;
}
html{

    background-color: #f5f5f5;
}
h1{
    text-align: center;
    color: crimson;
}
.nav{
    padding: 0px;
}
.nav li{
    background-color: rgb(174, 255, 174);
    width: 100%;
    margin: 10px 0px 10px 0px;
    list-style: none;
    text-align: center;
}
.nav :hover{
    background-color: rgb(72, 122, 72);
}
.intro{
    text-align: center;
}
.intro img{
    width:100%;
}
.sites{
    background-color: white;
    text-align: center;
}
.sites img{
    width: 100%;
}
.footer h4{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer strong{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.end{
    display: flex;
    justify-content: space-between;
}
.end p{
  margin: 0;

}
